---
timezone: "Europe/Berlin"
cpu_arch: "x86_64"

wifi:
  ssid: "raspcluster"
  password: "raspcluster"
  interface: wlan0

network:
  wan_interface: eth0
  domain: cluster.lan
  service_subnet: 192.168.100.0/24
  pod_subnet: 10.1.0.0/16

dhcp:
  dns: 8.8.8.8
  range_from: 192.168.100.100
  range_to: 192.168.100.200

master:
  ip: 192.168.100.1

etcd:
  port: 2379
  peer_port: 2380

version:
  kubernetes: 1.3.2

images:
  hyperkube: gcr.io/google_containers/hyperkube-{{ cpu_arch }}:v{{ version.kubernetes }}
  pause: gcr.io/google_containers/pause-{{ cpu_arch }}:3.0
k8s:
  # Timing is good for demos. Defaults are 5min eviction and 40s node grace period
  pod_eviction_timeout: 5s
  node_monitor_grace_period: 10s
debug_level: 2
